<br />
<div class="content">
	<h3> Welcome Admin! </p>
	<p> As an Admininstrator of this application, you can add products to be sold in this website. You can also create new categories and add relevant products for them. </p>
	<p> The menu at the top right corner of the page will help you to perform these actions </p>
	<p> For viewing all categories and adding new categories, you can click the 'Categories' item on the menu bar </p>
	<p> The 'Products' menu will list all available products, and will also allow you to add new products </p> <h3>
</div>